<div class="container">
  <!-- Encabezado -->
  <div class="header">
    <!-- Ícono personalizado -->
    <img src="assets/images/seti.png" alt="Custom Icon" class="header-icon" />
    <h2 class="header-title">Talent Match AI</h2>
    <button>
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>

  <!-- Contenedor de sidebar y contenido principal -->
  <div class="content-wrapper">
    <!-- Sidebar -->
    <div class="sidebar">
      <button mat-mini-fab color [color]="isSelected1 ? 'primary' : ''" (click)="selectComponent(1)">
        <mat-icon>search</mat-icon>
      </button>
      <p>Buscar perfil</p>

      <button mat-mini-fab color [color]="isSelected2 ? 'primary' : ''" (click)="selectComponent(2)">
        <mat-icon>edit</mat-icon>
      </button>
      <p>Actualizar CV</p>

      <button mat-mini-fab color [color]="isSelected3 ? 'warn' : ''" (click)="selectComponent(3)">
        <mat-icon>logout</mat-icon>
      </button>
      <p>Cerrar sesión</p>
    </div>

    <!-- Contenido principal -->
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
