<div class="search-container" [class.searching]="isSearching || (result_of_candidates && result_of_candidates.result.length > 0)">
    <div class="search-box">
        <mat-form-field appearance="outline">
            <input matInput
                  [(ngModel)]="searchTerm"
                  [placeholder]="!isUpdate ? 'Buscar candidatos...': 'Buscar hoja de vida a actualizar...'"
                  (keyup.enter)="onSearch()">
            <button mat-icon-button
            [matTooltip]="!isUpdate ? 'Escriba los conceptos claves de búsqueda' : 'Escriba el nombre del candidato a actualizar'"
            matSuffix
            (click)="onSearch()">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <!-- No Results Message -->
    <div *ngIf="!isSearching && result_of_candidates && result_of_candidates.result.length === 0 && searchTerm && !watchDetail"
      class="no-results">
      No se encontraron candidatos para tu búsqueda{{!isUpdate ? errorMessage: ''}}
    </div>

    <div class="results-container" *ngIf="isSearching || (result_of_candidates && result_of_candidates.result.length > 0)">
        <div class="results-scroll">
            <!-- Loading Spinner -->
            <div *ngIf="isSearching" class="loading-container">
                <mat-spinner diameter="40"></mat-spinner>
            </div>

            <!-- Results List -->
            <div *ngIf="!isSearching && result_of_candidates && result_of_candidates.result.length > 0 && !watchDetail" class="candidates-list">
                <mat-card *ngFor="let candidate of result_of_candidates.result" class="candidate-card">
                    <mat-card-header>
                        <mat-card-title><strong>{{ candidate.json_data.nombre | uppercase }}</strong></mat-card-title>
                        <button mat-icon-button color="primary" matTooltip="Ver CV"
                        matTooltipPosition="above"
                                class="view-cv-button"
                                (click)="onViewCV(candidate)">
                            <mat-icon>send</mat-icon>
                        </button>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="profile-text">{{ candidate.json_data.perfil }}</p>
                        <ul *ngIf="!isUpdate">
                          <li *ngFor="let skill of candidate.matched_skills">
                            <strong>{{ skill.skill | uppercase }}</strong>: {{ skill.score | percent:'1.0-2' }}
                            <span [ngClass]="getColorClass(skill.score)" class="color-indicator"></span>
                          </li>
                        </ul>
                    </mat-card-content>
                </mat-card>
            </div>

            <!-- MODAL DE CHAT -->
            <app-chat [originalData]="actualDetail" [isUpdate]="isUpdate"></app-chat>

            <!-- VER DETALLES -->
            <div *ngIf="watchDetail" class="justification-section">
              <strong>TalentMatch AI Dice:</strong>
                <p *ngIf="detailJustification"
                    class="justification-text"
                    [innerHTML]="detailJustification">
                </p>
              <mat-progress-spinner *ngIf="isJustificationEmpty" diameter="20" mode="indeterminate"></mat-progress-spinner>
              <span class="fixed-buttons">
                <button mat-icon-button color="primary" matTooltip="Volver"
                class="back-button"
                (click)="onBack()">
                <mat-icon>arrow_back</mat-icon>
                </button>

                <button mat-icon-button color="primary" matTooltip="Enriquecer PDF"
                class="back-button"
                (click)="abrirChat()">
                <mat-icon>picture_as_pdf</mat-icon>
                </button>

                <button mat-icon-button color="primary" matTooltip="Descargar PDF"
                class="back-button"
                (click)="downloadPDF()">
                <mat-icon>download</mat-icon>
                </button>
              </span>
              <mat-divider></mat-divider>
              <!-- Nombre y Perfil -->
              <mat-card>
                <mat-card-header>
                  <mat-card-title><strong>{{ actualDetail.json_data.nombre | uppercase }}</strong></mat-card-title>
                  <mat-card-subtitle>{{ actualDetail.json_data.ubicacion }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>{{ actualDetail.json_data.perfil }}</p>
                </mat-card-content>
              </mat-card>

              <!-- Contacto -->
              <mat-card>
                <mat-card-header>
                  <mat-card-title><strong>CONTACTO</strong></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p><strong>Email:</strong> {{ actualDetail.json_data.email }}</p>
                  <p><strong>Teléfono:</strong> {{ actualDetail.json_data.telefono }}</p>
                </mat-card-content>
              </mat-card>

              <!-- Educación -->
              <mat-card>
                <mat-card-header>
                  <mat-card-title><strong>EDUCACIÓN</strong></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <mat-list>
                    <mat-list-item *ngFor="let edu of actualDetail.json_data.educacion">
                      <div mat-line><strong>{{ edu.titulo }}</strong></div>
                      <div mat-line>{{ edu.universidad }}</div>
                    </mat-list-item>
                  </mat-list>
                </mat-card-content>
              </mat-card>

              <!-- Experiencia -->
              <mat-card>
                <mat-card-header>
                  <mat-card-title><strong>EXPERIENCIA</strong></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <mat-list>
                    <mat-list-item *ngFor="let exp of actualDetail.json_data.experiencia">
                      <div mat-line><strong>{{ exp.cargo }}</strong> - {{ exp.empresa }}</div>
                      <div mat-line>{{ exp.descripcion }}</div>
                    </mat-list-item>
                  </mat-list>
                </mat-card-content>
              </mat-card>

              <!-- Habilidades -->
              <mat-card>
                <mat-card-header>
                  <mat-card-title><strong>HABILIDADES</strong></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <ul>
                    <li *ngFor="let skill of actualDetail.json_data.skills">
                      <span [ngClass]="{'soft-skill': skill.skill_type === 'blando', 'hard-skill': skill.skill_type === 'duro'}"
                            class="skill-circle"></span>
                      {{ skill.skill_name }}
                    </li>
                  </ul>
                </mat-card-content>
              </mat-card>
            </div>

        </div>
    </div>
</div>
